#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.title') /}
<div id="crudIndex">
#{if !session.username}
<meta http-equiv="refresh" content="0; url=@{Secure.login()}">
#{/if}
    <h2>&{'crud.index.title'}</h2>

    <table>
        <thead>
            <tr>
                <th>&{'crud.index.objectType'}</th>
                <th width="20%">&{'crud.index.action'}</th>
            </tr>
        </thead>
        <tbody>
#{crud.types}
          <tr>
                <td>
                    <a href="${type.listAction}">&{type.name}</a>
                </td>
                <td class="crudNew" >
                    <a href="${type.blankAction}">&{'crud.index.add', type}</a>
                </td>
            </tr>
#{/crud.types}
        </tbody>
    </table>

</div>
